$height: 50px;
$border-width: calc($height * 0.57735);
$chevron-border-width: calc(($border-width / 2));
$transparent-border-width: calc($height / 2);

.button {
    --background-color: rgba(255, 255, 255, .7);
    --chevron-offset: calc(-#{$chevron-border-width} + .2px);

    height: $height;
    position: relative;
    border: none;
    padding: 5px 10px;
    background-color: var(--background-color);
    color: #2c2c2c;
    font-family: 'New Rodin', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    transition: background-color .2s, margin .2s, transform .2s;
    cursor: pointer;

    > .before, > .after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        transition: border-color .2s;
    }

    > .before {
        left: var(--chevron-offset);
        border-top: $transparent-border-width solid transparent;
        border-bottom: $transparent-border-width solid transparent;
        border-right: $chevron-border-width solid var(--background-color);
    }

    > .after {
        right: var(--chevron-offset);
        border-top: $transparent-border-width solid transparent;
        border-bottom: $transparent-border-width solid transparent;
        border-left: $chevron-border-width solid var(--background-color);
    }

    &:hover {
        --background-color: rgba(255, 255, 255, .9);
        margin: 0 -5px;
        transform: scaleX(1.05);
    }

    &[disabled] {
        --background-color: rgba(255, 255, 255, .3);
        color: #fff;
        cursor: not-allowed;
    }

    &.dark {
        --background-color: rgba(0, 0, 0, .7);
        color: #fff;

        &[disabled] {
            --background-color: rgba(0, 0, 0, .3);
            color: #fff;
        }
    }

    &.block {
        width: 100%;
    }
}
