.widget-form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 100%;

  > .label {
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
  }
}