.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .7rem;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: inherit;
    position: relative;
}

.copied {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: green;
    pointer-events: none;
    padding: 5px 10px;
    border-radius: 3px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
